<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!--数据库连接-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///hibernate?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">rootroot</property>

        <!--方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--数据库连接池 C3P0-->
        <property name="c3p0.max_size">2</property>
        <property name="c3p0.min_size">2</property>
        <property name="c3p0.timeout">5000</property>
        <property name="c3p0.max_statements">100</property>
        <property name="c3p0.idle_test_period">3000</property>
        <property name="c3p0.acquire_increment">2</property>
        <property name="c3p0.validate">false</property>

        <!--显示Hibernate自动生成的SQL-->
        <property name="show_sql">true</property>

        <property name="current_session_context_class">thread</property>

        <!--开启二级缓存：设置二级缓存的实现类-->
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--隔离级别的设定 值为 1 2 4 8 -->
        <!--<property name="connection.isolation">4</property>-->

        <!--Pojo类的注册-->
        <mapping class="com.kaishengit.pojo.Product"/>
        <mapping class="com.kaishengit.pojo.User"/>
        <mapping class="com.kaishengit.pojo.Address"/>
        <mapping class="com.kaishengit.pojo.Student"/>
        <mapping class="com.kaishengit.pojo.Teacher"/>
        <mapping class="com.kaishengit.pojo.Post"/>
        <mapping class="com.kaishengit.pojo.PostContent"/>
        <mapping class="com.kaishengit.pojo.Person"/>
        <mapping class="com.kaishengit.pojo.Card"/>
        <mapping class="com.kaishengit.pojo.Customer"/>

        <!--映射文件的注册-->
        <!--<mapping resource="hbm/Product.hbm.xml"/>
        <mapping resource="hbm/Address.hbm.xml"/>
        <mapping resource="hbm/User.hbm.xml"/>
        <mapping resource="hbm/Student.hbm.xml"/>
        <mapping resource="hbm/Teacher.hbm.xml"/>
        <mapping resource="hbm/Person.hbm.xml"/>
        <mapping resource="hbm/Card.hbm.xml"/>
        <mapping resource="hbm/Post.hbm.xml"/>
        <mapping resource="hbm/PostContent.hbm.xml"/>
        <mapping resource="hbm/Customer.hbm.xml"/>-->
    </session-factory>

</hibernate-configuration>